<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard</title>
    <link rel="icon" href="https://github.com/fluidicon.png">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/dashboard.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/console.css}" rel="stylesheet" type="text/css">
    <script src ="jquery-3.3.1.min.js" ></script>
    <script src="layer.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="toLogin" >主页</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#" id="test">Profile</a></li>
                <li><a href="#" id="ExitId">Exit</a></li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search...">-->
            <!--</form>-->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">用户管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="/downloadExcel">报表下载</a></li>
                <!--<li><a href="#">出勤情况</a></li>-->
                <!--<li><a href="#">考勤薪资管理</a></li>-->
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <h2 class="sub-header">用户信息</h2>
            <div style="margin-left: 60% ">
                <input type="text" name="username" id ="userId" placeholder="Username" class="text text-success">
                <input type="date" name="date" id="dateId">
                <button type="button"  id="btnId" class="btn btn-default">search</button>
                <button type="button" id="createBtn" class="btn btn-default">创建</button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead >
                    <tr>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>月薪</th>
                        <th>是否迟到</th>
                        <th>是否旷工</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="tab">
                    <tr>
                        <td>张三</td>
                        <td>163@163.com</td>
                        <td>20000</td>
                        <td>是</td>
                        <td>否</td>
                        <td><span onclick='manager()'>修改</span><span style='margin: 5px' onclick='work()'>查看出勤</span></td>
                    </tr>
                    <tr>
                        <td>凌云</td>
                        <td>59441@yahoo.com</td>
                        <td>15000</td>
                        <td>否</td>
                        <td>否</td>
                        <td><span onclick='manager()'>修改</span><span style='margin: 5px' onclick='work()'>查看出勤</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>

    //js对于date的扩展
    Date.prototype.Format = function(fmt)
    {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours(),                   //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt))
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)
            if(new RegExp("("+ k +")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        return fmt;
    };

    //初始化日期输入框
    $(document).ready(function(){
        $("#dateId").val(new Date().Format("yyyy-MM-dd"));
    });


    function requestData(){
        console.log($("#dateId").val());

        $.ajax({
            url: "/searchInfo",
            // ?date="+$("#dateId").val()+"&"+"username="+$("#userId")
            type: "post",
            dataType: "json",
            data: {
                "username": $("#userId").val(),
                "date": $("#dateId").val()
            },
             success: function(data){
                 /*这个方法里是ajax发送请求成功之后执行的代码*/

                 showData(data);//我们仅做数据展示
             },
             error: function(msg){
                 // alert("ajax连接异常："+msg);
                 alert("无数据");
                 $("#trid").remove();
                 $("#tab").append("无数据");
             }
        });

    }
    // requestData();
    //展示数据

    function showData(data) {
        var str = "";//定义用于拼接的字符串
        // console.log(data);

        // console.log(document.getElementsByTagName("td"));
        // document.getElementsByTagName("td");

        //删除已存在元素

        $("#trid").remove();
        if(data==null){
            return;
        }
         for (var i = 0; i < data.length; i++) {
                 //拼接表格的行和列
             if(data[i].attendance.islate==1){
                 var islate="是";
             }else if(data[i].attendance.islate==0){
                 islate="否"
             }else {
                 islate="无"
             }
             if(data[i].attendance.isabsenteeism==1){
                 var isabsenteeism="是";
             }else if(data[i].attendance.isabsenteeism==0){
                 isabsenteeism="否"
             }else {
                 isabsenteeism="无"
             }
             str = "<tr id='trid'><td>" + data[i].user.username + "</td><td>" + data[i].user.email + "</td><td>"+data[i].userSalary.salary+ "</td><td>"+ islate+ "</td><td>"+isabsenteeism+  "" +
                 "</td><td >"+ "<span  onclick='manager()'>修改</span>" +"<span  style='margin: 5px' onclick='work()'>查看出勤</span>"  +"</td></tr> ";
                 //追加到table中
             $("#tab").append(str);
         }
        var childs;
         try{
             childs=document.getElementById("trid").childNodes;
         }catch (e) {
             alert("无此数据!");
         }

        console.log(childs[0].innerText);


        //弹层html代码
        html="<form class='form-signin' action='/updateUserDeInfo' method='post'>";
        html+= "<div><input readonly='readonly' name='username' style='text' class='text-center' placeholder=\"Username\" id='usernameId' value='"+childs[0].innerText+"  '></div><br/>";
        html+= "<div><input readonly='readonly' name='email' style='text' class='text-center' placeholder=\"Email\" id='eamilId' value='"+childs[1].innerText+" '></div><br/>";
        html+= "<div><input name='salary' type='' class='text-center' placeholder=\"Salary\" id='salaryId' value='"+childs[2].innerText+"'></div><br/>";
        html+= "<div>是否迟到 <input type='radio' value=1 name='islate'>是 <input type='radio' value=0 name='islate'>否</div><br/>";
        html+= "<div>是否旷工 <input type='radio' value=1 name='isabsenteeism'>是 <input type='radio' value=0 name='isabsenteeism'>否</div> ";
        html+= "<div style='display: none'><input name='dateStr' value='"+$("#dateId").val().toString()+"'> </div><br/>";
        html+="<button  class=\"btn btn-default\" type='submit'>submit</button> ";
        html+="</form>";
    }



    $("#btnId").click(function () {
        requestData();
    });

    $("#createBtn").click(function () {
        var date = new Date();
        console.log(date.toString());
        //弹层html代码
        html="<form class='form-signin' action='/createUserInfo' method='post'>";
        html+= "<div><input name='username' style='text' class='text-center' placeholder=\"Username\" id='usernameId' ' ></div><br/>";
        html+= "<div><input name='email' style='text' class='text-center' placeholder=\"Email\" id='usernameId' '></div><br/>";
        html+= "<div><input name='salary' type='' class='text-center' placeholder=\"Salary\" id='SalaryId''></div><br/>";
        html+= "<div>是否迟到 <input type='radio' value=1 name='islate'>是 <input type='radio' value=0 name='islate'>否</div><br/>";
        html+= "<div>是否旷工 <input type='radio' value=1 name='isabsenteeism'>是 <input type='radio' value=0 name='isabsenteeism'>否</div> ";
        html+= "<div style='display: none'><input name='date' value='"+date+"'> </div><br/>";
        html+="<button  class=\"btn btn-default\" type='submit'>submit</button> ";
        html+="</form>";
        manager();
    });



    // html+= "是否旷工"+ " <div class=\"radio-inline\">\n" +
    //     "            <input type=\"radio\" name=\"isabsenteeism\" value=\"1\" checked>是" +
    //     +
    //     "            <input type=\"radio\" name=\"isabsenteeism\" value=\"0\">否" +
    //     "        </div>";


    //弹层代码
    function manager() {
        layer.open({
            type: 1 //Page层类型
            ,area: ['500px', '400px']
            ,title: '管理'
            ,shade: 0.6 //遮罩透明度
            ,maxmin: true //允许全屏最小化
            ,anim: 1 //0-6的动画形式，-1不开启
            ,content: html
        });
    }


    //对于出勤率和迟到率的处理
    function work() {
        var childs=document.getElementById("trid").childNodes;
        var dateStr= $("#dateId").val().toString();
        var html1;
        console.log(dateStr);
        $.ajax({
            url: "/getWork",
            // ?date="+$("#dateId").val()+"&"+"username="+$("#userId")
            type: "post",
            dataType: "json",
            data: {
                "username": childs[0].innerText,
                "dateStr": dateStr
            },
            success: function(data){
                /*这个方法里是ajax发送请求成功之后执行的代码*/
                // showData(data);//我们仅做数据展示

                var late = data[0];
                var work = data[1];
                var lateShow = late * 100 + "%";
                var workShow = work * 100 + "%";

                html1 = "<label class='label label-info' style='font-size: 16px'>这一个月的迟到率为" + lateShow + "<br/>";
                html1 += "<label class='label label-info' style='font-size: 16px'>这一个月的出勤率为" + workShow + "<br/>";

                //出勤率的弹层
                layer.open({
                    type: 1 //Page层类型
                    ,area: ['500px', '400px']
                    ,title: '管理'
                    ,shade: 0.6 //遮罩透明度
                    ,maxmin: true //允许全屏最小化
                    ,anim: 1 //0-6的动画形式，-1不开启
                    ,content: html1
                });
            },
            error: function(msg){
                html1 = "no data!";
                // alert("ajax连接异常："+msg);
            }
        });


    }

    $(function () {
        //用户注销
        $("#ExitId").click(function () {
            if(confirm("是否确认注销")){
                $.ajax({
                    url: "/shutdown",
                    method: "post"
                });
                alert("注销成功");
                window.location.href ="/toLogin";
            }

        });


    })


    
    
</script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; Just to make our placeholder images work. Don't actually copy the next line! &ndash;&gt;-->
<!--<script src="../../assets/js/vendor/holder.min.js"></script>-->
<!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>
