<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://github.com/fluidicon.png">

    <title>create user</title>


    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">


    <link th:href="@{/signin.css}" rel="stylesheet" type="text/css">

    <script src ="jquery-3.3.1.min.js" ></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</head>

<body>

<div class="container">

    <div class="form-signin" action="/createUser">
        <h2 class="form-signin-heading">Register</h2>
        <label for="user-name-label" class="sr-only">User name</label>
        <input type="text" id="user-name-label" class="form-control"  placeholder="Username" required autofocus name="username">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required name="email">

        <div class="radio-inline">
            <input type="radio" name="authority" value="normal" checked>Normal
            <br>
            <input type="radio" name="authority" value="admin">Admin
        </div>
        <br/>
        <button id="doCreate" class="btn btn-lg btn-primary btn-block" type="submit">create</button>
    </div>

    <script>

        $(function() {
            //简单登录操作
            $("#doCreate").click(function (e) {
                console.log("doLogin");
                $.ajax({
                    type : "post",
                    url : "/createUser",
                    data : {
                        "username" : $("#user-name-label").val(),
                        "password" : $("#inputPassword").val(),
                        "email": $("#inputEmail").val(),
                        "authority": $("input[name='authority']").val()
                    },
                    dataType : "json",
                    success : function(data) {
                        console.log(data);
                        if (data.result == "1") {
                            alert("创建成功");
                            window.location.href ="/toLogin";
                        } else {
                            alert("创建失败,用户名已被占用!");
                        }
                    },
                    error:function () {
                        alert("创建失败,用户名已被占用!");
                    }
                });
            });
        });
    </script>


</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
