<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.human_resources.mapper.UserSalaryMapper">
  <resultMap id="BaseResultMap" type="com.qst.human_resources.dto.UserSalaryDTO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="NVARCHAR" property="username" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, month, salary
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_salary
  </select>
  <select id="selectByUserNameIncludeMonth" parameterType="com.qst.human_resources.dto.UserSalaryDTO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_salary
    <where>
      username = #{username,jdbcType=NVARCHAR}
      <if test="month != null">
        and month = #{month,jdbcType=NVARCHAR}
      </if>
    </where>
  </select>
  <insert id="insertSelective" parameterType="com.qst.human_resources.dto.UserSalaryDTO">
    insert into user_salary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="salary != null">
        salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=NVARCHAR},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>